/* Main CSS */

body {
    padding-top: 25px;
    background-color: #f2ecfd;
    font-family: 'VT323', Courier, sans-serif !important;
    letter-spacing: 1px;
    text-transform: uppercase;
}
a {
    color: #5d4e76;
}
a:hover {
    color: #5d4e76;
}
form {
    line-height: 3em;
}
select {
    color: white !important;
}
.form-control {
    background-color: #3e3e3e !important;
}
input[type="submit"] {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 25% !important;
    background-color: #5d4e76 !important;
}
.alert {
    background-color: #5d4e76 !important;
    color: white !important;
}
@media (max-width: 768px) {
    body {
        text-align: center;
    }
    select {
        text-align: center !important;
    }
    .form-group {
        display: inline !important;
    }
    .artists_list {
        list-style: none !important;
        padding-left: 0px !important;
    }
}
