<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='http://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
        <title>Music time machine</title>
    </head>
    <body>
        <div class="container">
        {% block content %}
        {% if form.errors %}
        <div role="alert" class="alert alert-warning alert-dismissible">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <strong>Warning!</strong> To see Patrick's favorite artists, you have to select some criteria first!
        </div>
        {% endif %}
        {% for message in get_flashed_messages() %}
        <div role="alert" class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <strong>Yo!</strong> {{ message }}
        </div>
        {% endfor %}
            <h1><a href="/">Music Time Machine</a></h1>
            <form method="POST" class="form-inline" role="form">
                {{ form.csrf_token }}
                When Patrick was living in
                <div class="form-group">
                    {{ form.locations(class_="form-control") }}
                </div>
                doing this thing
                <div class="form-group">
                    {{ form.activities(class_="form-control") }}
                </div>
                and feeling
                <div class="form-group">
                    {{ form.emotions(class_="form-control") }}
                </div>
                his playlist was like this.
                {{ form.submit(id="form_submit", class_="center-block btn btn-block btn-primary btn-lg") }}
            </form>
        {% if artists %}
        <div class="artists panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Favorite artists</h3>
            </div>
            <div class="panel-body">
                <ul class="artists_list">
                {% for artist in artists %}
                    <li><a href="{{ artist.discog_url }}">{{ artist.name }}</a></li>
                {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
        {% endblock content %}
        </div>
        <footer class="text-center">
            <p><small>See Patrick's top-five musical artists: Chrome: Cmd + Opt + J (Mac) / Firefox: Cmd + Opt + K (Mac)</small></p>
        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-57026745-1', 'auto');
        ga('send', 'pageview');

        </script>
    </body>
</html>
